####DataKind Dublin

## Volunteer Ireland DataDive Project 2015
# Import Raw Data

Quick & dirty import of raw csv files and write to sqlite3 db

+ [Setup](#Setup)
    + [Local Functions](#Local-Functions)
    + [Load Data](#Load Data)

# Setup

In [1]:
## Interactive magics - comment out if running from another script
%matplotlib inline
%qtconsole --colors=linux --ConsoleWidget.font_size=12 --ConsoleWidget.font_family='Consolas'

In [14]:
from __future__ import division, print_function
from collections import OrderedDict
import unicodedata
import sys
import re
import sqlite3

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Set some defaults
pd.set_option('display.mpl_style', 'default')
pd.set_option('display.notebook_repr_html', True)
np.random.seed(0)

## Local Functions

In [19]:
remove_punct_map = dict.fromkeys(i for i in range(sys.maxunicode)
                      if unicodedata.category(chr(i)).startswith('P'))

def snakeycase(s,punctmap=remove_punct_map):
    """ return a string that has been stripped of punctuation, trimmed, lowercased 
        and spaces replaced by underscores .
        e.g. " I'm a Fan, of snakey-strings :) " -> "im_a_fan_of_snakeystrings"
    """
    newstring = s.translate(punctmap)
    return '_'.join(newstring.lower().split())

## Load Data

#### Volunteer Info

In [23]:
raw_volunteers = pd.read_csv('cleaned_csv/volunteers.csv')
raw_volunteers.rename(columns=lambda x: snakeycase(x), inplace=True)
print(raw_volunteers.shape)
raw_volunteers.head()

(12401, 10)

,volunteer_id,gender,nationality,placed,volunteer_recruitment_method,skills_profile,county,age_group,cause_you_are_interested_in,activity_you_are_interested_in
0,00QD000000gsscc,Female,Irish,Referred to Organisation,Internet Search,General Admin/ Office Support; Hospitality/ Be...,Clare,23-35,Animals,Short term/seasonal/once off
1,00QD000000gssn1,Female,American,Referred to Organisation,Internet Search,Education/ Training; Multi-lingual/ Multi-cult...,Dublin,36-49,Education/Literacy,Teaching/Tutoring/Supporting learning
2,00QD000000gssoO,Male,British,Not Placed,Internet Search,Computer/ Web/ ICT; Drivers; General Admin/ Of...,Kildare,36-49,Older People/Active Retired,Sports/out door activities/Coaching
3,00QD000000gssvA,Male,Irish,Not Placed,Word of Mouth/Referred by another agency,Architecture/ Design; Arts/ Music/ Drama; Othe...,Dublin,50-64,Homelessness/ Housing,Arts (music/drama/crafts)
4,00QD000000gssyE,Female,Italian,Referred to Organisation,Internet Search,Arts/ Music/ Drama; Education/ Training; Event...,Dublin,36-49,Older People/Active Retired,Befriending/Mentoring

#### Placement Info

In [25]:
raw_placements = pd.read_csv('datadrop_20150325/cleaned_csv/placements.csv')
raw_placements.rename(columns=lambda x: snakeycase(x), inplace=True)
print(raw_placements.shape)
raw_placements.head()

(5897, 8)

,place_volunteer_connector,place_volunteer_id,volunteer_opportunity_record_id,volunteer_registered_centre,organisation,volunteer_hours,volunteer_opportunity_volunteer_centre,volunteer_opportunity_volunteer_opportunity
0,v-34825,a01D000000mUsFq,a00D000000Q6SjS,South Dublin County,NaN,4,South Dublin County,Unwrapped Festival Stewards 2013
1,v-40103,a01D000000rEFsI,a00D000000LLY2a,Kerry,Kerry General Hospital,104,Kerry,Meet and Greet Volunteers
2,v-37087,a01D000000omKeL,a00D000000IMwTv,Wicklow,Museum of Childhood &amp; Tara's Palace,200,Wicklow,Volunteer Curator
3,v-36379,a01D000000oCvKi,a00D000000Q5Kod,Wicklow,Bray Community Addiction Team,140,Wicklow,Drop In Centre Support Volunteer
4,v-38880,a01D000000rDIHS,a00D000000WaLyA,Wicklow,Luisne Centre for Spirituality,8,Wicklow,Open Day Stewards &amp; Hostesses

---

DataKind Dublin 2005